<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<!-- Title Page-->
<title>用户注册</title>

<!-- Icons font CSS-->
<link
	th:href="@{/static/js/vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{/static/js/vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Vendor CSS-->
<link th:href="@{/static/js/vendor/select2/select2.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{/static/js/vendor/datepicker/daterangepicker.css}"
	rel="stylesheet" media="all">

<!-- Main CSS-->
<link th:href="@{/static/css/main1.css}" rel="stylesheet" media="all">
</head>

<body>
	<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
		<div class="wrapper wrapper--w680">
			<div class="card card-4">
				<div class="card-body">
				<table>
				    <a th:href="${gameUrlAndroid}" th:text="${messageAndroid}"></a>
				    </br>
				    </br>
				    </br>
				    <a th:href="${gameUrlIos}" th:text="${messageIos}"></a>
				</table>
				   
				</div>
			</div>
		</div>
	</div>

	<!-- Jquery JS-->
	<script th:src="@{/static/js/vendor/jquery/jquery.min.js}"></script>
	<!-- Vendor JS-->
	<script th:src="@{/static/js/vendor/select2/select2.min.js}"></script>
	<script th:src="@{/static/js/vendor/datepicker/moment.min.js}"></script>
	<script th:src="@{/static/js/vendor/datepicker/daterangepicker.js}"></script>

	<!-- Main JS-->
	<script th:src="@{/static/js/global.js}"></script>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->